.profile {
    background-color: #E7ECF2;
    color: #A9B3BD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.description {
    background-color: white;
    border: 0.5px solid #A9B3BD;
    border-radius: 4px 4px  0 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.avatar {
    border-radius: 50%;
    width: 100px;
}

.stats {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    background-color: #F3F6F9;
    border: 0.5px solid #A9B3BD;
    border-radius: 0 0 4px 4px;
    margin:0;
    width: 300px;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #A9B3BD;
    width: calc(100% / 3);
    padding-top: 14px;
    padding-bottom: 14px;
    transition: bacground-color 250ms linear;
}

.stats li:hover {
    background-color: #E7ECF2;
}