.profile {
    background-color: #E7ECF2;
    color: #A9B3BD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}

.description {
    background-color: white;
    border: 0.5px solid #A9B3BD;
    border-radius: 4px 4px  0 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 30px;
}

.name {
    color: black;
    font-weight: bold;
    margin: 0 0 8px 0;
    font-size: 18px;
}

.tag {
    margin: 0 0 8px 0;
}

.location {
    margin: 0 0 24px 0;
}

.stats {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    background-color: #F3F6F9;
    border: 0.5px solid #A9B3BD;
    border-radius: 0 0 4px 4px;
    margin:0;
    width: 280px;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #A9B3BD;
    width: calc(100% / 3);
    padding-top: 14px;
    padding-bottom: 14px;
    transition: bacground-color 250ms linear;
}

.stats li:hover {
    background-color: #E7ECF2;
}

.label {
    font-size: 12px;
    margin-bottom: 4px;
    color: #9CA7B2;
    font-weight: 600;
}

.quantity {
    color: black;
    font-weight: bold;
}